@import url(./variables.css);
@import url(./mobile.css);
* {
    margin: 0;
    padding: 0;
    font-family: var(--my-font-style);
    font-optical-sizing: var(--my-font-optical-sizing);
    font-weight: var(--my-font-weight);
    font-style: normal;
    font-variation-settings: var(--my-font-variation-settings);
    box-sizing: border-box;
}
html{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-size: 16px; 
    overflow-x: hidden;
    overflow-y: scroll;
}
html::-webkit-scrollbar{
    display: none;
}
body {
    height: 100%;
    max-width: 1690px;
    width: 100%;
}
.header {
    min-width: max-content;
    width: 100%;
    height: max-content;
    background-color: var(--header-color);
}

/* Header top */
.header_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 2.188em;
}
.header_top > img:nth-child(1){
    display: none;
}
.header_top--rightContent {
    width: 434px;
    height: 37px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.header_top--rightContent>form {
    width: 326px;
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 0.688em;
    background-color: white;
    border-radius: 30px;
}

.header_top--rightContent>form>input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
}

.header_top--rightContent>button {
    width: 89px;
    height: 37px;
    background-color: var(--my-CTA-button);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header_top--rightContent>button:hover {
    transform: scale(1.05);
}

/* Header bottom */
.header_bottom {
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    padding: 0 11.25rem;
    justify-content: space-around;
}

.header_bottom--one,
.header_bottom--two {
    width: max-content;
    display: flex;
    align-items: center;
    height: 20px;
    background-color: var(--header-color);
    color: white;
}

.header_bottom>a,
div>a {
    color: white;
    text-decoration: none;
    transition: transform;
}

.header_bottom>a:hover,
div>a:hover {
    transform: scale(1.05);
}

/* Bottom bar */
.header_bottomBar {
    width: calc(100% - 11.25rem*2);
    height: 5px;
    background-color: var(--header-color);
    margin: 0 11.25rem;
    display: flex;
}

.header_bottomBar--1 {
    width: 17%;
    height: 5px;
}

.header_bottomBar--2 {
    width: 16%;
    height: 5px;
}

.header_bottomBar--3 {
    width: 32%;
}

.header_bottomBar--4 {
    width: 21%;
}

.header_bottomBar--5 {
    width: calc(100% - 17% - 16% - 32% - 21%);
}

.active {
    background-color: var(--my-CTA-button);
    transition: 0.1s;
}

/* Herosection */
.Herosection {
    display: flex;
    padding: 3.75em 6.25em;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:1;
}
.menu_herosection{
    width: 40%;
    height: 100%;
    background-color: red;
    position:absolute;
    z-index:3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
.Herosection__leftContent--header {
    min-width: 646px;
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 5.313rem;
    color: var(--header-color);
}

.Herosection__leftContent--onhead {
    font-weight: 400;
    font-size: 1.438rem;
    line-height: 1.75rem;
    color: var(--my-CTA-button);
}

.Herosection__leftContent--underhead {
    font-weight: 400;
    font-size: 1.438rem;
    line-height: 1.75rem;
    color: #000000;
}

.Herosection__leftContent > button {
    background-color: var(--my-CTA-button);
    border-radius: 30px;
    padding: 1.375em 2.063em;
    border: none;
    color: white;
    margin-top: 0.625em;
    transition: transform 0.2s ease;
}

.Herosection__leftContent>button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* class */
.classList {
    background-color: var(--under-herosection);
    width: 100%;
    height: max-content;
    padding-top: 1.563em;
}

/* content */
.classList__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classList__content--1 {
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: var(--my-CTA-button);
}

.classList__content--2 {
    min-width: max-content;
    font-weight: 700;
    font-size: 1.438rem;
    line-height: 3.813rem;
    color: var(--header-color);
}

.classList__content--3 {
    font-weight: 400;
    font-size:1.313rem;
    line-height: 1.563rem;
}

/* class */
.classList__classes {
    display: flex;
    padding: 3.063rem 10.875rem;
    justify-content: space-between;
}

.classList__classes--1 {
    width: 446px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classList__classes--1 > div {
    color: var(--header-color);
    margin-top: 0.625em;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: var(--header-color);
}

.classList__classes--2 {
    width: 446px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classList__classes--2 > div {
    color: var(--header-color);
    margin-top: 0.625em;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: var(--header-color);
}

.classList__classes--1>img,
.classList__classes--2>img {
    border-radius: 30px;
    box-shadow: 5px 5px 0.5px #C9C9C9;
}

.classList__classes--1>button,
.classList__classes--2>button { 
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
    padding: 1.313em 2.063em;
    margin-top: 0.625em;
    background-color: var(--my-CTA-button);
    color: white;
    border: none;
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;
}

.classList__classes--1>button:hover,
.classList__classes--2>button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Herosection 2 */
.herosection_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.75em 6.25em;
}

.herosection_2__content > div {
    min-width: max-content;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: var(--header-color);
}

.herosection_2__content > p {
    margin: 0.688em auto;
    font-weight: 400;
    font-size: 1.438rem;
    line-height: 1.75rem;
}

.herosection_2__content > button {
    padding: 1.313em 2.125em;
    background-color: var(--my-CTA-button);
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.125rem;
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;
}

.herosection_2__content>button:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* courses feature */
.courses_feature{
    width: 100%;
    height:500px;
    background-color: var(--under-herosection);;
    padding:5em 5.938em;
}
.courses_feature--content{
    min-width: max-content;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: #0B3C88;
}
.courses_feature--classList{
    margin-top: 2.813em;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:300px;
    transform: rotate(4deg);
    margin-top: 5.25em;
}
.courses_feature--class{
    width:200px;
    height:157px;
    background-color: white;
    transform: rotate(-4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px 4px 6px #dcd8d8,
                -4px -4px 6px #dcd8d8;
}
.courses_feature--class > h1{
    font-weight: 650;
    font-size: 1.25rem; 
    line-height: 1.5rem;
    color: var(--header-color);
}
.courses_feature--class > img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
/* achievement */
.achievement{
    width: 100%;
    height:max-content;
    margin-top: 4.375em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievement_title{
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: var(--header-color);
}
.achievement_content{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap:5%;
    margin-top:2.5em;
    overflow: hidden;
}
.achievement_content__child{
    width: 300px;
    height: 400px;
}
.achievement_content__child > div{
    width:300px;
    height:300px;
    border-radius: 50%;
}
.achievement_content__child:nth-child(1){
    margin-left:-9.375em;
    margin-top: 17em;
}
.achievement_content__child:nth-child(2){
    margin-top: 9.875em;
}
.achievement_content__child:nth-child(4){
    margin-top: 9.875em;
}
.achievement_content__child:nth-child(5){
    margin-right: -9.375em;
    margin-top: 17em;
}

.achievement_content__child:nth-child(1) > div,
.achievement_content__child:nth-child(3) > div,
.achievement_content__child:nth-child(5) > div{
    background-color: var(--header-color);
}
.achievement_content__child:nth-child(2) > div,
.achievement_content__child:nth-child(4) > div{
    background-color: var(--my-CTA-button);
}
.achievement_content__child > h1{
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.125rem;
    color: #0B3C88;
    text-align: center;
}

/* Reason */
.reason{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--under-herosection);
    padding:4.813em 0 4.813em 0;
}   
.reason_content{
    min-width: max-content;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.813rem;
    color: #0B3C88;
}
.reason_list{
    min-width: max-content;
    width: 100%;
    height:max-content;
    display: flex;
    justify-content: space-between;
    padding:0 9.063em;
    margin-top: 1.875em;
}
.reason_list > div:first-child{
    background-color: var(--my-CTA-button);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2.625em 3.125em;
}
.reason_list > div:last-child{
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.625em 3.125em;
}
.reason_list > div{
    background-color: white;
    width:565px;
    height: 407px;
    border-radius: 30px;
}
.reason_list--yes > h1{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #FFFFFF;
}
.reason_list--yes > div{
    width:100%;
    height:2px;
    background-color: white;
    margin-top: 1.625em;
    margin-bottom: 0.938em;
}
.reason_list--yes > p{
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
}
.reason_list--no > h1{
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 2.25rem;
    color: #FFFFFF;
}
.reason_list--no > div{
    width:100%;
    height:2px;
    background-color: white;
    margin-top: 1.625em;
    margin-bottom: 0.938em;
}
.reason_list--no > p{
    font-weight: 400;
    font-size: 1.563rem;
    color: #FFFFFF;
}
/* Teacher incharge */
.teacher_incharge{
    width: 100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.875em 21.875em;
}
.teacher_incharge--content{
    min-width: max-content;
    font-weight: 700;
    font-size: 3.125rem;
    color: #0B3C88;
}
.teacher_incharge--card{
    width: 100%;
    min-width: max-content;
    height:max-content;
    display: flex;
    justify-content: space-between;
    margin-top: 1.625em;
}
.teacher_incharge--card > div{
    width: 400px;
    height: max-content;
}
.teacher_incharge--button{
    width: 640px;
    height: 55px;
    margin-top: 2.688em;
    border-radius: 30px;
    transition: transform 0.2s ease;
    background-color: var(--header-color);
    border: none;
}
.teacher_incharge--button > a{
    color: white;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
}
.teacher_incharge--button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/* form */
.form{
    width: 100%;
    height:max-content;
    padding: 0 7.188em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125em;
}
.form > h1{
    min-width: max-content;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--header-color);
}
.form--register{
    width: max-content;
    height:max-content; 
    display: flex;
    justify-content: center;
    margin-top:2.5em;
    border-radius: 30px;
}
.form--register--left{
    width:50%;
    height:inherit;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    background-color: white;
    box-shadow: 0 1px 0.5px black,
                -1px -1px 0.5px black;
}
.form--register--right{
    border-left:2px solid black;
    width:50%;
    height:max-content;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding:3.375em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 0.5px black,
                0 -1px 0.5px black;
}
.form--register--right > h1{
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--header-color);
}
.form--register--right > form{
    width:100%;
    height:67px;
    border-radius: 30px;
    background-color: var(--under-herosection);
    display: flex;
    align-items: center;
    padding:0 1.875em;
    gap: 5px;
}
.form--register--right > form > input{
    outline: none;
    border: none;
    background-color: var(--under-herosection);
}
.form--register--right > form:nth-child(2){
    margin-top:32px;
}
.form--register--right > form:nth-child(3){
    margin-top:20px;
    margin-bottom:20px;
}
.form--register--right > div{
    display: flex;
    gap:8px;
    width: 100%;
    margin:1.25em 0 0 3.75em;
}
.form--register--right > button{
    border-radius: 30px;
    padding: 1.375em 2.188em;
    border: none;
    color:white;
    font-weight: 700;
    font-size: 1.288rem;
    background-color: var(--my-CTA-button);
    margin-top: 1.875em;
    transition: transform 0.2s ease-in-out;
}
.form--register--right > button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
footer{
    width: 100%;
    height:max-content; 
    background-color: #2A313B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8.125em;
}
.footer_logo{
    width: 100%;
    height: max-content;
    border-bottom: 2px solid #5E5E5E;
    padding:1.25em 0;
}
.footer_info{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid #5E5E5E;
    margin-top:0.938em;
    padding-bottom:0.938em;
}
.footer_info--left{
    width: 500px;
    height: max-content;
}
footer > p{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.938rem;
    color: #1E9DFF;
}
.footer_info--left > h1{
    font-weight: 700;
    font-size: 1.563rem;
    color: #FFFFFF;
    line-height: 36px;
}
.footer_info--left > p:nth-child(2){
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    margin: 0.5em 0;
}
.footer_info--left > p:nth-child(3){
    font-weight: 400;
    font-size: 1.563rem;
    color: #FFFFFF;
}
.footer_info--left > button{
    padding:0.5em 1.688em;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #0B3C88;
    margin: 0.938em 0;
    transition: transform 0.2s ease-in-out;
}
.footer_info--left > button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.footer_info--right{
    width: 500px;
    height:max-content;
}
.footer_info--right_top{
    width:100%;
    height:max-content;
    display: flex;

}
.footer_info--right_top > div:first-child{
    width: 50%;
    height:max-content;
}
.footer_info--right_top > div:first-child > h1{
    font-weight: 400;
    font-size:1.563rem;
    line-height: 1.875rem;
    color: #808080;
}
.footer_info--right_top > div:first-child > p{
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    margin-top:0.625em;
}
.footer_info--right_top > div:last-child > p{
    margin-top:0.688em;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
}
.footer_info--right_bottom{
    margin-top: 2.5em;
    width: 100%;
    height:200px;
}
.footer_info--right_bottom > h1{
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #808080;
}
.footer_info--right_bottom > p{
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    margin-top: 0.625em;
}
.footer_info--des{
    margin: 2.5em 0;
}
